@import "normalize";

@function px($num) {
    @return ($num / 16) + 0rem;
}

$primary: #e0730c;

body {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: $primary;
}

.hdr-main {
    font-size: px(42);
    border-top: solid 5px;
    display: inline-block;
    padding-top: px(30);
    margin-top: 0;
    margin-bottom: px(5);
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted;

    &:hover {
        border-bottom-style: solid;
        color: lighten($primary, 5%);
    }
}

abbr[title] {
    border-bottom: none;
}

.email {
    margin-top: px(90);
}

.date {
    font-size: px(14);
}

.layout-container {
    text-align: center;
    margin: 0 auto;
}
